div{

    width:50px;
    padding:50px;
    margin:50px;
    background:300px pink;
    

}

#style1{
    width:50px;
    padding:50px;
    margin:50px;
    background:300px  lightblue;
    border-style: ridge;
    border-left:20px black;
    border-bottom:20px black;
    border-top:20px violet;

}

#style2{

    width:50px;
    padding:50px;
    margin:50px;
    border-left:20px green;
    background:300px lightseagreen;
    border-style: ridge;
    border-bottom:20px black;
    border-top:20px yellow;


}

#style3{
    width:50px;
    padding:50px;
    margin:60px;
    border-left:20px blue;
    background:300px coral;
    border-style: ridge;
    border-bottom:20px black;
    border-top:20px pink;


}

#style4{
    width:50px;
    padding:50px;
    margin:50px;
    border-left:20px red;
    background:300px lightyellow;
    border-style: ridge;
    border-bottom:20px black;
    border-top: 20px white;


}